.jumbotron{
    text-align: center;
}

.card{
    text-align: center;
}

.card-body{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.barShort{
    background-color: white;
    max-width: 40%;
    height: 3px;
    margin: 25px auto;
}

#bar{
    text-align: center;
}

#particles-js
{
    position: absolute;
    background-color:transparent;
    text-align: center;
    height: 100vh;
    width: 112vw;
    margin: -250px;
}

/* .particles-js-canvas-el{
    
} */

#firstJumbo{
    background-image: url("kids-in-class4.jpg");
    background-size: cover;
    padding-top: 250px;
    padding-bottom: 500px;  
}
.container{
    position: relative;
    z-index: 9999;
}

#topCont{
    padding-top: 100px;
    color: white
}
#topCont h1{
    font-size: 90px;
}

#topCont p{
    font-size: 30;
}

#bar h1{
    font-size: 60px;
}

/* body{
    background-color: #e6e6e6;
} */

#data{
    text-align: right;
}

body
{
    background: linear-gradient(pink, lightblue);
}

#someWords h1{
    color: white;
}

#scoresss{
    color: white;
}

#scoresss h3{
    font-size: 40px;
}